<div class="popup-chart">
    <h1>Recommended Daily Intake (RDI) Chart </h1>
    <div class="chart-download"><a href="https://www.fda.gov/media/99069/download">Download PDF of this content</a></div>
    <h3>Frequently Asked Questions for Industry on Nutrition Facts Labeling Requirements</h3>
    <h4>The following is one of the FAQs for industry the U.S. Food and Drug Administration	has provided related to recent changes to the Nutrition Facts label.</h4>
    
    <div class="more-info">For more FAQs, visit <a href="https://www.fda.gov/food/food-labeling-nutrition/industry-resources-changes-nutrition-facts-label">Industry FAQs on the Changes to the Nutrition Facts Label.</a></div>
    
    <hr>
    
    <h4>What are Daily Values and where can I find them?</h4>
    
    <p>Daily Values are comprised of two sets of reference values for reporting nutrients in nutrition labels-the Daily Reference Values (DRVs) and the Reference Daily Intakes (RDls). To limit consumer confusion, the single term "Daily Value" is used to designate both the DRVs and RDls . The DVs are used to calculate the % Daily Values that consumers see on the Nutrition and Supplement Facts labels. The % Daily Value helps consumers understand how the amount of a nutrient that is present in a serving of a food fits into their total daily diet and allows them to compare the nutritional value of food products.</p>
    
    <div><img src="https://cdn.shopify.com/s/files/1/0582/6261/8320/files/RDA_P2.png?v=1628867375" alt=""></div>
</div>

<style>
    .popup-chart {
        padding: 2rem;
    }
    .popup-chart h1, .popup-chart h2, .popup-chart h3, .popup-chart h4 {
        text-align: center;
    }
    .popup-chart .chart-download {
        text-align: right;
    }
    .more-info {
        text-align: center;
    }
</style>