<div class="shopify-section page-how-to-use">
  <div class="page-width">
    <div class="section-block__header text-center">
      <h4 class="h1--mini section-block__title">How To Use</h4>
    </div>
  
    <div class="how-to-use__img">
      <img src="{{ product.metafields.global.how_to_use.image }}" alt="">
    </div>
  </div>
</div>

<style>
  .page-how-to-use .page-width {
    padding-top: 3rem;
  }
  .how-to-use__img {

    display: flex;
    justify-content: center;

  }
</style>
