<div class="single-page page-policies">
  <div class="small-heading-wrapper"  data-aos="fade-right"><h1 class="small--text-center">{{ page.title }}</h1></div>

  {% if page.content != blank %}
    <div class="content-block">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  {% endif %}

</div>

<style>
  .main-content {
    margin-top: 0;
  }

  .content-block {
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
  }

    @media only screen and (min-width: 750px) {
    .content-block {
      width: 80%;
    }
  }

  a {
    color: #041e8b;
  }
</style>
